upstream backend_servers {
    server ${APP_TARGET_IP}:${APP_TARGET_PORT};
}

server {
    listen 80;
    server_name 34.51.68.62; # IP pública de GCP

    location / {
        proxy_pass http://backend_servers;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        add_header X-Deployment-Color ${DEPLOYMENT_COLOR};
    }
}